<template>
  <div>
        <div v-for="(line, index) in lines" v-bind:key="index" class="row">
            <div class="col-lg-8">
                <div class="form-group col-md-12">
                        <input type="text" v-model="line.description" class="form-control" placeholder="Enter Text"/>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="block float-right">
                <button class="btn btn-danger" @click="removeLine(index)" icon="delete">Remove</button>
                <br>
                <button class="btn btn-primary" v-if="index + 1 === lines.length" @click="addLine" icon="playlist-plus" > Add </button>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4 pull-right">
            <button class="btn btn-success" type="submit" @click="createNote()"> Create Note </button>
        </div>    
  </div>
</template>

<script>
import axios from "axios";
import { server } from "../../helper";
import router from "../../router";
export default {
  name: "CreateChecklist",
  data() {
    return {
      lines: [],
      blockRemoval: true
    };
  },
  watch: {
    lines() {
      this.blockRemoval = this.lines.length <= 1;
    }
  },
  methods: {
    addLine() {
      let checkEmptyLines = this.lines.filter(line => line.number === null);
      if (checkEmptyLines.length >= 1 && this.lines.length > 0) return;
      this.lines.push({
        description: null,
        crossed: false
      });
    },
    removeLine(lineId) {
      if (!this.blockRemoval) this.lines.splice(lineId, 1);
    },
    createNote() {
      let noteData = {
        lines: JSON.parse(JSON.stringify(this.lines))
      };
      this.$emit('new-note-event');
      this.__submitToServer(noteData);
    },
    __submitToServer(data) {
      
    console.log(data);
      axios.post(`${server.baseURL}/note/create/checklist`, data).then(data => {
        // router.push({ name: "home" });
      });
    }
  },
  mounted() {
    this.addLine();
  }
};
</script>