<template>
   <div>
        <div class="col-md-12 form-wrapper">
          <!-- <h2> Create Note </h2> -->
          <form id="create-post-form" @submit.prevent="createNote">

              <div class="form-group col-md-12">
                  <!-- <label for="description"> Text </label> -->
                  <textarea id="description" v-model="description" name="description" class="form-control" placeholder="Enter Description"></textarea>
              </div>

              <div class="form-group col-md-4 pull-right">
                  <button class="btn btn-success" type="submit"> Create Note </button>
              </div>          
          </form>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import { server } from "../../helper";
import router from "../../router";
export default {
  name: "Create",
  data() {
    return {
      description: ""
    };
  },
  methods: {
    createNote() {
      let noteData = {
        description: this.description
      };
      this.$emit('new-note-event');
      this.__submitToServer(noteData);
    },
    __submitToServer(data) {
      axios.post(`${server.baseURL}/note/create`, data).then(data => {
        router.push({ name: "home" });
      });
    }
  }
};
</script>

