<template>
    <div class="container-fluid">

      <div class="text-center">
        <!-- <h1>Notes</h1>
       <p> Built with Nest.js, Vue.js and MongoDB</p> -->

       <div v-if="notes.length === 0">
            <h2> No note found at the moment </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
       <app-addnote v-on:new-note-event="caughtEvent"></app-addnote>
        </div>
        <div class="col-md-6">
       <app-addchecklist v-on:new-note-event="caughtEvent"></app-addchecklist>
        </div>
       </div> 
      <!-- <div class="row"> -->
        <div class="row">
          <div class="col-md-6">
            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" width="70%">Description</th>
                  <th scope="col" width="30%">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="note in notes" :key="note._id">
                  <td>{{ note.description }}</td>
                  <td>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group" style="margin-bottom: 20px;">
                        <router-link :to="{name: 'Edit', params: {id: note._id}}" class="btn btn-sm btn-outline-secondary">Edit Note </router-link>
                        <button class="btn btn-sm btn-outline-secondary" v-on:click="deleteNote(note._id)">Delete Note</button>
                      </div>
                    </div>
                  </td>
                </tr>
                
              </tbody>
            </table>
        </div>
            <div class="col-md-6">
              <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" width="70%">Description</th>
                  <th scope="col" width="30%">Actions</th>
                </tr>
              </thead>
              <tbody>
              <tr v-for="checklist in checklists" :key="checklist._id">
                  <td>
                    <div v-for="item in checklist.lines" :key="item.description">
                      <div  v-on:click="updateChecklist(checklist._id)"> 
                        <div  v-on:click="item.crossed = !item.crossed">
                        <strike v-show="item.crossed"> {{ item.description }} </strike>
                        <span v-show="!item.crossed">{{ item.description }}</span>
                      </div>
                    </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group" style="margin-bottom: 20px;">
                          <button class="btn btn-sm btn-outline-secondary" v-on:click="deleteChecklist(checklist._id)">Delete Note</button>
                        </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
      <!-- </div> -->
    </div>
</template>

<script>
import { server } from "../helper";
import axios from "axios";
import Create from "../components/note/Create";
import CreateChecklist from "../components/note/CreateChecklist";

export default {
  components: {
    "app-addnote": Create,
    "app-addchecklist": CreateChecklist
  },
  data() {
    return {
      notes: [],
      checklists: []
    };
  },
  created() {
    this.fetchNotes();
  },
  methods: {
    fetchNotes() {
      axios
        .get(`${server.baseURL}/note/notes`)
        .then(data => (this.notes = data.data));
      axios
        .get(`${server.baseURL}/note/checklists`)
        .then(data => (this.checklists = data.data));
    },
    getChecklist(id) {
      for(let i of this.checklists){
        if(i._id == id){
          return i;
        }
      }
    },
    updateChecklist(id) {
      let checklist = this.getChecklist(id);
      let noteData = JSON.parse(JSON.stringify(checklist));
      this.$emit('new-note-event');
          this.__submitToServer(id, noteData);

    },
    __submitToServer(id, data) {
      console.log(data);
      axios.put(`${server.baseURL}/note/checklist/update?checklistID=${id}`, data).then(data => {
        // router.push({ name: "home" });
      });
    },
    deleteNote(id) {
      axios.delete(`${server.baseURL}/note/delete?noteID=${id}`).then(data => {
        console.log(data);
        window.location.reload();
      });
    },
    deleteChecklist(id) {
      axios.delete(`${server.baseURL}/note/checklist/delete?checklistID=${id}`).then(data => {
        console.log(data);
        window.location.reload();
      });
    },
    caughtEvent() {
      window.location.reload();
      // router.push({ name: "home" });
    }
  }
};
</script>

